<nav class="navbar">
  <div>
    <img src="https://demo.fractal.build/fractal.svg" alt="logo">
  </div>
  <ul>
    {{#each links}}
      <li class="navbar-item"><a href={{href}} target="_blank">{{label}}</a></li>
    {{/each}}
  </ul>
</nav>